body {
    background: #ECE6FF;
}

#search-header {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.05)
}

#poster {
    display: inline-block;
}

#content-info {
    margin-bottom: 30px;
}

#navigation-area {
    margin-left: 46%;
}

#poster {
    width: auto;
}

#show {
    margin-left: 2%;
    display: inline-block;
    text-align: center;
}

#homebutton {
    float: left;
    color: white;
}