<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error-style.css">
</head>
<body>
<div id="warningtext">
    <h2>An error occurred :(</h2>
    <h2>Click floating house to go home.</h2>
</div>
<a id="homeicon" href="/"><img src="/images/home.png" alt="go home"></a>
</body>
</html>