<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body id="body">
    <div class="container-fluid">
        <h1 id="title">WhatToWatch</h1>
        <div class="center">
            <div id="search-area">
                <form method="GET" th:action="@{/search}">
                    <input type="text" name="term" id="search_box" placeholder="Search for something interesting">
                    <button type="submit" class="btn" id="submit_button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div id="shape"></div>
</body>

</html>

<script>
    $(function () {
        $("#search_box").autocomplete({
            source: "contentNamesAutocomplete",
            minLength: 3,
            select: function (event, ui) {
                window.location.replace('search?term=' + ui.item.value);
            }
        });
    });
</script>